.n-wrapper {
    display: flex;
    justify-content: space-between; 
}

.n-name {
    cursor: pointer;
}

.closeModal {
    position: absolute;
    top: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity ease 0.5s;
    z-index: 5;
}
.closeModal:hover {
     opacity: 1;
}

.closeModal::before,
.closeModal::after {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 32px;
    height: 6px;
    background: var(--fontColor);
    border-radius: 20px;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}

.closeModal span {
    margin-left: 55px;
    font-size: 28px;
    color: var(--fontColor);
    font-weight: 800!important
}

@media only screen and (max-width: 800px) {
    .n-name img {
        width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .n-name img {
        width: 150px;
    }
}