.n-wrapper {
    display: flex;
    justify-content: space-between; 
}

.n-name {
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .n-name img {
        width: 200px;
    }
}


@media only screen and (max-width: 600px) {
    .n-name img {
        width: 150px;
    }
}